<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Anton|Fontdiner+Swanky|Kaushan+Script|Open+Sans+Condensed:300|Pacifico|Permanent+Marker|Ranga|Shadows+Into+Light|Sigmar+One" rel="stylesheet">

	<title>EAT-DA-BURGER</title>
    </head>

    <body>
    <img src="/assets/img/chef-hamburger.png" width="350px" id="chef-burger">
        {{{body}}}
    </body>

</html>