body {
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: lightblue;
}

#chef-burger {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color: #dd221d;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 70px;
    margin: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #dd221d;
    font-family: 'Fontdiner Swanky', cursive;
    font-size:20px;
}

#col-header {
    text-align: center;
    color: #468fb8;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

.btn-default {
    background-color:#5f9d14;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 39px;
}


.btn-default:hover {
    background-color:#518612;
    color:#ec992f;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    margin: 50px;
}

#text-enter-button {
    background-color:#dd221d;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}

#text-enter-button:hover {
        background-color:#dd221d;
        font-family: 'Anton', sans-serif;
        border: white 1px solid;
        font-size: 30px;
}

#enter_text {
    display: block;
    margin: auto;
}

form {
    width: 100%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.input.form-control{
    display: block;
    margin: auto;
}

.btn-primary{
    margin: 10px;
    padding: 5px 10px;
    border: solid 1px white;
    font-size: 30px;
    letter-spacing: 3px;
}

#col-header {
    margin-bottom: 20px;
    font-size: 36px;
}