html {
    background-color: #ec992f;
}

body {
    width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
   border: #853e00 solid 1px;
}

#chef-burger {
    width: 700px;
    margin: auto;
}

img {
    width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #dd221d;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 70px;
    margin: 10px;
}

p {
    text-align: center;
    color: #dd221d;
    font-family: 'Fontdiner Swanky', cursive;
    font-size:20px;
}

#col-header {
    text-align: center;
    color: #468fb8;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

.btn-default {
    background-color:#5f9d14;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.input.form-control {
    text-align: center;
    color: red;
}

.btn-default:hover {
    background-color:#518612;
    color:#ec992f;
    font-size: 18px;
}

#text-enter-button {
    background-color:#dd221d;
    font-family: 'Anton', sans-serif;
}

#text-enter-button:hover {
    background-color:#ad0600;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    margin: 50px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */
 @media only screen and (max-width:1600px) {
    #title h1 {
      font-size: 17rem;
    }
  
    .home-content h3 {
      font-size: 3.7rem;
    }
  
  }
  
  @media only screen and (max-width:1400px) {
    #title h1 {
      font-size: 16rem;
    }
  
    .home-content h3 {
      font-size: 3.6rem;
    }
  
  }
  
  @media only screen and (max-width:1200px) {
    .home-content {
      padding-top: 4.5rem;
    }
  
    .home-content h1 {
      font-size: 14rem;
    }
  
    .home-content h3 {
      font-size: 3.2rem;
    }
  
    .home-content__button {
      margin-top: 7.2rem;
    }
  
    .home-content__button .btn {
      font-size: 11px;
      width: 28rem;
      height: 6.6rem !important;
      line-height: 6.2rem !important;
    }
  
    .home-content__scroll {
      right: 7rem;
    }
  
    .home-content__scroll .scroll-link {
      font-size: 1.1rem;
    }
  }
  
  
  @media only screen and (max-width:1000px) {
    .home-content h1 {
      font-size: 13rem;
    }
  
    .home-content h3 {
      font-size: 3rem;
    }
  
    .home-content__button .btn {
      width: 24rem;
    }
  
    .home-content__scroll {
      right: 6rem;
    }
  }
  
  
  @media only screen and (max-width:900px) {
    .home-content h1 {
      font-size: 12rem;
    }
  
    .home-content h3 {
      font-size: 2.7rem;
    }
  
  }
  
  @media only screen and (max-width:800px) {
    .home-content h1 {
      font-size: 11.4rem;
    }
  
    .home-content h3 {
      font-size: 2.6rem;
    }
  
    .home-content__button {
      margin-top: 6.6rem;
    }
  
    .home-content__button .btn {
      width: 22rem;
    }
  
  }
  
  @media only screen and (max-width:700px) {
    .home-content h1 {
      font-size: 10.2rem;
    }
  
    .home-content h3 {
      font-size: 2.4rem;
    }
  
    .home-content__scroll {
      right: 5rem;
      bottom: 4.8rem;
    }
  
    .home-content__scroll::after {
      display: none;
    }
  
  }
  
  @media only screen and (max-width:600px) {
    .home-content {
      padding-top: 6rem;
    }
  
    .home-content h1 {
      font-size: 9rem;
    }
  
    .home-content h3 {
      font-size: 2.1rem;
    }
  
    .home-content__main {
      padding: 0 35px;
    }
  
    .home-content__button {
      margin-top: 4.8rem;
    }
  
    .home-content__button .btn {
      position: static;
      display: block;
      height: 6rem !important;
      line-height: 5.6rem !important;
      width: 100%;
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  @media only screen and (max-width:500px) {
    .home-content h1 {
      font-size: 7.5rem;
    }
  
    .home-content h3 {
      font-size: 1.8rem;
    }
  
  }
  
  @media only screen and (max-width:400px) {
    .s-home {
      min-height: 630px;
    }
  
    .home-content h1 {
      font-size: 6.5rem;
    }
  
    .home-content__main {
      padding: 0 25px;
    }
    
    .home-content__button {
      margin-top: 3.6rem;
    }
  
  }
  
  @media only screen and (max-width:350px) {
    .home-content h1 {
      font-size: 6.2rem;
    }
  
  }